<div class="container-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion des categories</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/">Tableau de bord</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/categories">Liste des categories</a></li>
                    <li class="breadcrumb-item active">
                        <span *ngIf="!categorie?.id">Ajouter</span>
                        <span *ngIf="categorie?.id">Modifier</span>
                        &nbsp; une categorie
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content align-self-center">
    <div class="container-fluid card-box">
        <div class="alert alert-danger" *ngIf="errorMsg && errorMsg.length > 0">
            <ng-container *ngFor="let error of errorMsg">
                <span>{{error}}</span>
            </ng-container>
        </div>
        <form role="form" [formGroup]="categoryForm" novalidate (ngSubmit)="create()">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <span *ngIf="!categorie?.id">Ajouter</span>
                        <span *ngIf="categorie?.id">Modifier</span>
                        &nbsp; une categorie
                    </h3>
                </div>
                <div class="car-body p-3">

                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" name="code" id="code" class="form-control" formControlName="code" placeholder="Veillez indiquer le code de la categorie">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" name="libelle" id="libelle" class="form-control" formControlName="designation" placeholder="Veillez indiquer le libelle de la categorie">
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-secondary float-left" (click)="cancel()">
                        <i class="fas fa-ban"></i>
                        Annuler
                    </button>
                    <button type="submit" class="btn btn-primary float-right">
                        <i class="fas fa-save"></i>
                        Enregistrer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
