<!-- Main Sidebar Container Start -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerlink="/" class="brand-link">
        <img src="assets/images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/images/avatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{account?.nom}}</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <ng-container *ngFor="let menu of menus">
                    <li class="nav-item" [ngClass]="{'menu-open': menu.active}">
                        <a href="#" class="nav-link">
                            <i class="nav-icon {{menu.icon}}"></i>
                            <p>
                                {{menu.title}}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" *ngIf="menu.subMenu && menu.subMenu.length > 0">
                            <li class="nav-item" *ngFor="let subMenu of menu.subMenu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <a class="nav-link" [routerLink]="subMenu.url">
                                    <i class="{{subMenu.icon}} nav-icon"></i>
                                    <p>{{subMenu.title}}</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ng-container>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- Main Sidebar Container End -->
