<form role="form" novalidate (ngSubmit)="confirmDelete(supplier.id!)">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Confirmation de suppression d'un fournisseur <span class="" style="margin: 0 5px 0 5px; padding: 2px; height: 10px; font-weight: bold; font-size: 16px; background-color: #91cb64; border-radius: 3px">
            {{supplier.nom}}</span></h4>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="cancel()"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <div class="alert alert-danger" *ngIf="errorMsg">
                <span>{{errorMsg}}</span>
            </div>
            <div class="container-fluid text-center">

                <p> ATTENTION !!! Vous êtes sur le point de supprimer un fournisseur
                    <span class="" style="margin: 0 5px 0 5px; padding: 2px; height: 10px; font-weight: bold; font-size: 16px; background-color: #91cb64; border-radius: 3px">
            {{supplier.prenom}}</span>. <br /> Voulez-vous vraiment continuer ?</p>

            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="cancel()">
                <i class="fa fa-ban"></i>&nbsp;
                <span>Fermer</span>
            </button>
            <button type="submit" [disabled]="isVisible" class="btn btn-sm btn-danger" >
                <i class="fa fa-trash"></i>&nbsp;
                <span>Confirmer</span>
            </button>
        </div>
    </div>
</form>
