<div class="container-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion des clients</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Liste des clients</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<app-button-actions (newEvent)="newCustomer()"></app-button-actions>
<div class="content">
    <div class="container-fluid">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row">
                    <app-customer-supplier-item  *ngFor="let customer of customers$ | async trackBy: trackBy" [clientFournisseur]="customer" [origin]="'client'" (deleteResult)="handleDelete($event)"></app-customer-supplier-item>
                </div>
            </div>
        </div>
    </div>
</div>


