<!-- /.changePassword-box-start -->
<div class="login-box">
    <div class="login-logo">
        <a routerLink="/"><b>Gestion </b>de stock</a>
    </div>
    <!-- /.changePassword-->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Changer votre mot de passe</p>
            <form role="form" name="loginForm" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <div class="alert alert-danger" *ngIf="errorMessage">
                    <span>{{errorMessage}}</span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="login" name="oldPassword" formControlName="oldPassword" placeholder="Ancien Mot de passe">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="Nouveau mot de passe">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirmer mot de passe">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="changePasswordForm.invalid" >Change</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


        </div>
        <!-- /.changePassword-card-body -->
    </div>
</div>
<!-- /.changePassword-box-end -->
