<div class="col-sm-6 col-md-12 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-header text-muted border-bottom-0">
            {{article.codeArticle}}
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>{{article.designation}}</b></h2>
                    <p class="text-muted text-sm"><b>Prix Unitaire HT : </b> {{article.prixUnitaireHt}} </p>
                    <p class="text-muted text-sm"><b>Prix Unitaire TTC : </b> {{article.prixUnitaireTtc}} </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Code Categorie: {{article.categorie?.code}} </li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Designation : {{article.categorie?.designation}} </li>
                    </ul>
                </div>
                <div class="col-5 text-center">
                    <img [src]="article.photo != null ? article.photo  : 'assets/images/default-product.jpg'" loading="lazy" alt="user-avatar" width="128px" height="128px" class="img-circle img-fluid">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <a href="javascript:void(0)" class="btn btn-sm btn-danger" (click)="delete()">
                    <i class="fas fa-trash"></i> Supprimer
                </a>
                <a href="javascript:void(0)" class="btn btn-sm btn-warning" (click)="update()">
                    <i class="fas fa-edit"></i> Modifier
                </a>
            </div>
        </div>
    </div>
</div>
