<!-- /.login-box-start -->
<div class="login-box">
    <div class="login-logo">
        <a routerLink="/"><b>Gestion </b>de stock</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Connectez-vous pour démarrer votre session</p>

            <form role="form" name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="alert alert-danger" *ngIf="errorMessage">
                    <span>{{errorMessage}}</span>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" id="login" name="login" formControlName="login" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" name="remember" id="remember" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}">
                            <label for="remember">
                                Souvenez-vous de moi
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid" >Se connecter</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a href="javascript:void(0)">j'ai oublié mon mot de passe</a>
            </p>
            <p class="mb-0">
                <a href="javascript:void(0)" routerLink="/register" class="text-center">Inscrivez votre entreprise</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box-end -->
