<div class="wrapper">

    <!-- Content router-outler header page content Start -->
    <router-outlet name="header"></router-outlet>
    <!-- Content router-outler header page content End -->

    <!-- Content router-outler sidebar page content Start -->
    <router-outlet name="sidebar"></router-outlet>
    <!-- Content router-outler sidebar page content End -->

    <!-- Content Wrapper. Contains page content Start -->
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- Content Wrapper. Contains page content End -->

    <!-- Content router-outler footer page content Start -->
    <router-outlet name="footer"></router-outlet>
    <!-- Content router-outler footer page content End -->

</div>
