<div class="col-sm-6 col-md-12 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-header text-muted border-bottom-0">
            {{clientFournisseur?.nom}} {{clientFournisseur?.prenom}}
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>Tel : {{clientFournisseur?.numTel}}</b></h2>
                    <p class="text-muted text-sm"><b>Adresse : </b> {{clientFournisseur?.adresse.adresse1}} {{clientFournisseur?.adresse?.adresse2}} </p>
                    <p class="text-muted text-sm"><b>Code Postal : </b> {{clientFournisseur?.codePostale}} </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-globe"></i></span> Ville : {{clientFournisseur?.adresse?.ville}} </li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-flag"></i></span> Pays : {{clientFournisseur?.adresse?.pays}} </li>
                    </ul>
                </div>
                <div class="col-5 text-center">
                    <img [src]="clientFournisseur.photo != null ? clientFournisseur.photo  : 'assets/images/avatar.png'" loading="lazy" alt="user-avatar" width="128px" height="128px" class="img-circle img-fluid">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <a href="javascript:void(0)" class="btn btn-sm btn-danger" (click)="deleteItem()">
                    <i class="fas fa-trash"></i> Supprimer
                </a>
                <a href="javascript:void(0)" class="btn btn-sm btn-warning" (click)="update()">
                    <i class="fas fa-edit"></i> Modifier
                </a>
            </div>
        </div>
    </div>
</div>
