<div class="container-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion des articles</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Liste des articles</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<app-button-actions (newEvent)="addArticle()"></app-button-actions>
<div class="content">
    <div class="container-fluid">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row">
                    <app-article-item  *ngFor="let article of articles$ | async trackBy: trackBy" [article]="article" (deleteArtiicle)="handleDelete($event)"></app-article-item>
                </div>
            </div>
        </div>
    </div>
</div>


