<!-- Content Wrapper. Contains page content -->
<!--<div class="content-wrapper">-->
<!-- Content Header (Page header) -->
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 float-left">
                <h1>Tableau de bord</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Accueil</a></li>
                    <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
            </div>
        </div>
<!--    </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
</div>
