<div class="container-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion des articles</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/">Tableau de bord</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/categories">Liste des articles</a></li>
                    <li class="breadcrumb-item active">
                        <span *ngIf="!article?.id">Ajouter</span>
                        <span *ngIf="article?.id">Modifier</span>
                        &nbsp; un article
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="alert alert-danger" *ngIf="errorMsg && errorMsg.length > 0">
            <ng-container *ngFor="let error of errorMsg">
                <span class="d-block">{{error}}</span>
            </ng-container>
        </div>

        <form role="form" [formGroup]="articleForm" novalidate (ngSubmit)="create()">

            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <button type="button" (click)="fileInput.click()" style="background-color: transparent; border: none;">
                                <img [src]="this.urlImg" class="img-thumbnail" alt="image article"/>
                                <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" />
                            </button>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="codeArticle"> Code Article </label>
                                        <input type="text" class="form-control" name="codeArticle" id="codeArticle" placeholder="Code article" formControlName="codeArticle"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="designation"> Designation </label>
                                        <input type="text" class="form-control" name="designation" id="designation" placeholder="Designation" formControlName="designation"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="categorie"> Categorie </label>
                                        <select class="form-control" name="categorie" id="categorie" aria-label="categorie select exemple" title="categorie" formControlName="categorie" >
                                            <option [ngValue]="0"> Selectionner une categorie</option>
                                            <option *ngFor="let cat of categories$ | async" [value]="cat.id">{{cat.id}} - {{cat.designation}}</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="prixUnitaireHT"> Prix Unitaire HT </label>
                                        <input type="text" class="form-control" name="prixUnitaireHt" (input)="calculTTC()" id="prixUnitaireHT" placeholder="Prix Unitaire HT" formControlName="prixUnitaireHt"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="tauxTVA"> Taux TVA </label>
                                        <input type="text" class="form-control" name="tauxTva" (input)="calculTTC()" id="tauxTVA" placeholder="Taux TVA" formControlName="tauxTva"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="prixUnitaireTTC"> Prix Unitaire TTC </label>
                                        <input type="text" class="form-control" name="prixUnitaireTtc" id="prixUnitaireTTC" placeholder="Prix Unitaire TTC" formControlName="prixUnitaireTtc"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-secondary float-left" data-dismiss="modal" (click)="previousPage()">
                        <i class="fa fa-ban"></i>&nbsp;
                        <span>Annuler</span>
                    </button>
                    <button type="submit" [disabled]="isSaving || articleForm.invalid" class="btn btn-sm btn-success float-right" >
                        <i class="fa fa-trash"></i>&nbsp;
                        <span>Enregistrement</span>
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>
