<!-- /.register-box-start -->
<div class="register-box">
    <div class="register-logo">
        <a routerLink="/"><b>Gestion</b>de stock</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Inscrivez votre entreprise</p>

            <form novalidate role="form" id="registerForm" #registerForm="ngForm" (ngSubmit)="createEntreprse()">

                <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
                    <ng-container *ngFor="let error of errorMsg">
                        <span class="d-block">{{error}}</span>
                    </ng-container>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nom" id="nom" name="nom" [(ngModel)]="entrepriseDto.nom">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Code Fiscal" id="codeFiscal" name="codeFiscal" [(ngModel)]="entrepriseDto.codeFiscal">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-id-card"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" id="email" name="email" [(ngModel)]="entrepriseDto.email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-map"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control" placeholder="Telephone" id="numTel" name="numTel" [(ngModel)]="entrepriseDto.numTel">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <textarea rows="4" class="form-control" placeholder="Description" id="description" name="description" [(ngModel)]="entrepriseDto.description"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Adresse 1" id="adresse1" name="adresse1" [(ngModel)]="adresseDto.adresse1">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-map"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Adresse 2" id="adresse2" name="adresse2" [(ngModel)]="adresseDto.adresse2">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-map"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Code Postale" id="codePostale" name="codePostale" [(ngModel)]="adresseDto.codePostale">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-map"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="fa-map" placeholder="Ville" id="ville" name="ville" [(ngModel)]="adresseDto.ville">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-city"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pays" id="pays" name="pays" [(ngModel)]="adresseDto.pays">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-flag"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid || isSaving">S'inscrire</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="javascript:void(0)" routerLink="/login" class="text-center">J'ai déjà un abonnement</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box-end -->
