<div class="container-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion des {{pathUrl}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/">Tableau de bord</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="pathUrl">Liste des {{pathUrl}}</a></li>
                    <li class="breadcrumb-item active">
                        <span *ngIf="!clientFournisseur?.id">Ajouter</span>
                        <span *ngIf="clientFournisseur?.id">Modifier</span>
                        &nbsp;un {{pathUrl}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="alert alert-danger" *ngIf="errorsMsg && errorsMsg.length > 0">
            <ng-container *ngFor="let error of errorsMsg">
                <span class="d-block">{{error}}</span>
            </ng-container>
        </div>

        <form role="form" [formGroup]="clientFournisseurForm" novalidate (ngSubmit)="save()">

            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <button type="button" (click)="fileInput.click()" style="background-color: transparent; border: none;">
                                <img [src]="this.urlImg" class="img-thumbnail" alt="image article"/>
                                <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" />
                            </button>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="nom"> Nom </label>
                                        <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom" formControlName="nom"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="prenom"> Prenom </label>
                                        <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Prenom" formControlName="prenom"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="numTel"> Numero Telephone </label>
                                        <input type="text" class="form-control" name="numTel" id="numTel" placeholder="Numero Telephone" formControlName="numTel"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="mail"> E-mail </label>
                                        <input type="email" class="form-control" name="mail" id="mail" placeholder="E-mail" formControlName="mail"/>
                                    </div>

                                </div>
                                <div class="col-md-6" formGroupName="adresse">

                                    <div class="form-group">
                                        <label for="adresse1"> Adresse 1 </label>
                                        <input type="text" class="form-control" name="adresse1" id="adresse1" placeholder="Adresse 1" formControlName="adresse1"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="adresse2"> Adresse 2 </label>
                                        <input type="text" class="form-control" name="adresse2" id="adresse2" placeholder="Adresse 2" formControlName="adresse2"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="codePostale"> Code Postal </label>
                                        <input type="text" class="form-control" name="codePostale" id="codePostale" placeholder="Code Postale" formControlName="codePostale"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="ville"> Vile </label>
                                        <input type="text" class="form-control" name="ville" id="ville" placeholder="Ville" formControlName="ville"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="pays"> Pays </label>
                                        <input type="text" class="form-control" name="pays" id="pays" placeholder="Pays" formControlName="pays"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-secondary float-left" data-dismiss="modal" (click)="previousPage()">
                        <i class="fa fa-ban"></i>&nbsp;
                        <span>Annuler</span>
                    </button>
                    <button type="submit" [disabled]="isSaving || clientFournisseurForm.invalid" class="btn btn-sm btn-success float-right" >
                        <i class="fa fa-trash"></i>&nbsp;
                        <span>Enregistrement</span>
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>
