<!-- /footer Start -->
<footer class="main-footer">
    <strong>Copyright &copy; 2022.</strong> All rights reserved.
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0
    </div>
</footer>
<!-- /footer End -->
