<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Projects</h3>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Details Article
                    </th>
                    <th>
                        Details Commande
                    </th>
                    <th class="text-center">
                        Statut
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>

</section>