<tr>
    <td>
        <ul class="list-inline">
            <li class="list-inline-item">
                <img alt="Avatar" class="table-avatar" [src]="custSup?.photo ?? 'assets/images/default-product.jpg'">
            </li>
        </ul>
    </td>
    <td>
        <a>
            {{custSup?.nom}} {{custSup?.prenom}}
        </a>
        <br>
        <small>
            Tel {{custSup?.numTel}}
        </small>
    </td>
    <td>
        <a>
            {{order?.code}}
        </a>
        <br>
        <small>
            Commande le  {{order?.dateCommande | date: 'dd/m/yyyy'}}
        </small>
    </td>

    <td class="project-state">
        <span class="badge badge-success">{{order?.etatCommande}}</span>
    </td>
    <td class="project-actions text-right">
        <a class="btn btn-info btn-sm" href="javascript:void(0)">
            <i class="fas fa-pencil-alt">
            </i>
            Edit
        </a>
        <a class="btn btn-danger btn-sm" href="javascript:void(0)">
            <i class="fas fa-trash">
            </i>
            Delete
        </a>
    </td>
</tr>